<!--<select id="values" name="values" class="form-control" ng-model="vm.displayedField" ng-options="code for code in vm.fieldNames" ng-change="refreshGraph()"></select>-->
<div>{{chartCtrl.controlname}}</div>
<div class="form-group">
    <label for="values" data-translate="settings.form.language">Select Chart</label>
    <select id="values" ng-model="config.controlname" ng-options="code for code in config.fields" name="values" class="form-control"></select>
</div>

<div class="form-group">
    <label class="control-label" data-translate="nodergyApp.dashboard.period" for="period">Refresh period (ms)</label>
    <input type="number" class="form-control" name="period" id="period" required ng-model="config.period" min="500"/>

    <div ng-show="widgetEditForm.period.$invalid">
        <p class="help-block"
           ng-show="widgetEditForm.period.$error.required">
            This field is required.
        </p>
        <p class="help-block"
           ng-show="widgetEditForm.period.$error.min">
            This field should be more than 500.
        </p>
        <p class="help-block"
           ng-show="widgetEditForm.period.$error.number">
            This field should be a number.
        </p>
    </div>
</div>

